appsettings.json
ProductRegistrationService.Application/bin/
ProductRegistrationService.Application/obj/
ProductRegistrationService.Domain/bin/
ProductRegistrationService.Domain/obj/
ProductRegistrationService.Infra.Data/bin/
ProductRegistrationService.Infra.Data/obj/
ProductRegistrationService.Infra.IoC/bin/
ProductRegistrationService.Infra.IoC/obj/
ProductRegistrationService.WebAPI/bin/
ProductRegistrationService.WebAPI/obj/
ProductRegistrationService.Domain.Tests/bin/
ProductRegistrationService.Domain.Tests/obj/
