{
    "ConnectionStrings": {
      "DefaultConnection": "YOUR STRING CONNECTION"
    },
    "Logging": {
      "LogLevel": {
        "Default": "Information",
        "Microsoft.AspNetCore": "Warning"
      }
    },
    "AllowedHosts": "*"
  }
  